<% layout('panel/layout') -%>
<link href="../../assets/css/main.css" rel="stylesheet">
<link href="../../assets/css/custom.css" rel="stylesheet">
<link href="../../assets/css/index.css" rel="stylesheet">
<div class="row">
  <div class="col-md-12 table-wrapper">
        <table class="alt">
          <thead>
            <tr>
              <th>City</th>
              <th>District</th>
              <th>Street</th>
              <th>House number</th>
              <th>Invitation code</th>
              <th>Members</th>
            </tr>
          </thead>
          <tbody>
            <% if(network) {%>
                <tr>
                  <td><%= network.city %></td>
                  <td><%= network.district %></td>
                  <td><%= network.street %></td>
                  <td><%= network.housenumber %></td>
                  <td><%= network.password %></td>
                  <td><%= network.users.length %></td>
                </tr>
              <%}
            %>
          </tbody>
        </table>
      </div>
</div>

<div class="row">
  <div class="col-md-7 col-sm-7 col-xs-12">



    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Visitors location <small>geo-presentation</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content user-request-container">
            <% if(network.requests){%>
              <% for (let i = network.requests.length-1; i >= 0; i--) {  %>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 report-item user-report-item">
                <div class="col-md-12 col-sm-12 report-item-title">
                  <h4><%= network.requests[i].title %></h4>
                </div>
                <div class="col-md-12 col-sm-12 report-item-author-date">
                  <div class="col-md-6 col-ms-12 report-item-date user-report-item-date">
                    <h5><%= network.requests[i].author %></h5>
                  </div>
                  <div class="col-md-6 col-ms-12 report-item-author user-report-item-author">
                    <h5><%= network.requests[i].creationdate.toUTCString() %></h5>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 report-item-shortDesc user-report-item-shortDesc">
                      <%= network.requests[i].text %>
                </div>
                <div class="col-md-12 col-sm-12 report-status">
                  <span>Status: <%= network.requests[i].status %> </span>
                </div>
              </div>
            </div>
            <%}%>
          <%} %>
          </div>
        </div>
      </div>

    </div>
    <div class="row">


      <!-- Start to do list -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>To Do List <small>Sample tasks</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="">
              <ul class="to_do">
                <li>
                  <p>
                    <input type="checkbox" class="flat"> Schedule meeting with new client </p>
                </li>
                <li>
                  <p>
                    <input type="checkbox" class="flat"> Create email address for new intern</p>
                </li>
                <li>
                  <p>
                    <input type="checkbox" class="flat"> Have IT fix the network printer</p>
                </li>
                <li>
                  <p>
                    <input type="checkbox" class="flat"> Copy backups to offsite location</p>
                </li>
                <li>
                  <p>
                    <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
                </li>
                <li>
                  <p>
                    <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
                </li>
                <li>
                  <p>
                    <input type="checkbox" class="flat"> Create email address for new intern</p>
                </li>
                <li>
                  <p>
                    <input type="checkbox" class="flat"> Have IT fix the network printer</p>
                </li>
                <li>
                  <p>
                    <input type="checkbox" class="flat"> Copy backups to offsite location</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End to do list -->

      <!-- start of weather widget -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Daily active users <small>Sessions</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-sm-12">
                <div class="temperature"><b>Monday</b>, 07:30 AM
                  <span>F</span>
                  <span><b>C</b></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="weather-icon">
                  <canvas height="84" width="84" id="partly-cloudy-day"></canvas>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="weather-text">
                  <h2>Texas <br><i>Partly Cloudy Day</i></h2>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="weather-text pull-right">
                <h3 class="degrees">23</h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row weather-days">
              <div class="col-sm-2">
                <div class="daily-weather">
                  <h2 class="day">Mon</h2>
                  <h3 class="degrees">25</h3>
                  <canvas id="clear-day" width="32" height="32"></canvas>
                  <h5>15 <i>km/h</i></h5>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="daily-weather">
                  <h2 class="day">Tue</h2>
                  <h3 class="degrees">25</h3>
                  <canvas height="32" width="32" id="rain"></canvas>
                  <h5>12 <i>km/h</i></h5>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="daily-weather">
                  <h2 class="day">Wed</h2>
                  <h3 class="degrees">27</h3>
                  <canvas height="32" width="32" id="snow"></canvas>
                  <h5>14 <i>km/h</i></h5>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="daily-weather">
                  <h2 class="day">Thu</h2>
                  <h3 class="degrees">28</h3>
                  <canvas height="32" width="32" id="sleet"></canvas>
                  <h5>15 <i>km/h</i></h5>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="daily-weather">
                  <h2 class="day">Fri</h2>
                  <h3 class="degrees">28</h3>
                  <canvas height="32" width="32" id="wind"></canvas>
                  <h5>11 <i>km/h</i></h5>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="daily-weather">
                  <h2 class="day">Sat</h2>
                  <h3 class="degrees">26</h3>
                  <canvas height="32" width="32" id="cloudy"></canvas>
                  <h5>10 <i>km/h</i></h5>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

      </div>
      <!-- end of weather widget -->
    </div>
  </div>
  <div class="col-md-5 col-sm-5 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Recent Activities <small>Sessions</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">

          <ul class="list-unstyled timeline widget">
            <% if(network.notifications) {%>
              <% for (let i = network.notifications.length-1; i >= 0; i--) {  %>
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                                      <a><%= network.notifications[i].title %></a>
                                  </h2>
                    <div class="byline">
                      <span><%= network.notifications[i].creationdate %></a>
                    </div>
                    <p class="excerpt"><%= network.notifications[i].text %></a>
                    </p>
                  </div>
                </div>
              </li>
              <%}%>
              <%}%>
          </ul>
        </div>
      </div>
    </div>
  </div>



</div>
