<% layout('panel/layout') -%>
<link href="assets/css/main.css" rel="stylesheet">
<link href="assets/css/custom.css" rel="stylesheet">
<link href="assets/css/index.css" rel="stylesheet">
<div class="row">
  <div class="col-md-12 col-sm-12 networkList-search-container">
    <div class="col-md-4 col-sm-4 request-network">
        <input type="text" name="street" id="street" value="" placeholder="Street">
    </div>
    <div class="col-md-1 col-sm-3 request-network">
    <input type="text" name="housenumber" id="housenumber" value="" placeholder="No.">
  </div>
    <div class="col-md-4 col-sm-4 networkList-search">
      <a class="button special" href="#">Search</a>
    </div>
</div>
</div>
<div class="row">
  <div class="col-md-12 table-wrapper">
        <table class="alt">
          <thead>
            <tr>
              <th>City</th>
              <th>District</th>
              <th>Street</th>
              <th>House number</th>
              <th>Invitation code</th>
              <th>Members</th>
            </tr>
          </thead>
          <tbody>
            <% if(networks) {%>
              <% networks.forEach(function(network){ %>
                <tr>
                  <td><%= network.city %></td>
                  <td><%= network.district %></td>
                  <td><%= network.street %></td>
                  <td><%= network.housenumber %></td>
                  <td><%= network.password %></td>
                  <td><%= network.users.length %></td>
                  <td><a href="/dashboard/network/<%=network.id%>">Browse</a></td>
                </tr>
                <% }); %>
              <%}
            %>
          </tbody>
        </table>
      </div>
</div>
