<h1>Networks</h1>
Country: <%= network.country %><br>
City: <%= network.city %><br>
District: <%= network.district %><br>
Street: <%= network.street %><br>
housenumber: <%= network.housenumber %><br>
admins: <%= network.admins %><br><br>
users: <%= network.users %><br>
