<h1>Profile</h1>
<%= user.avatar %>
<%= user.network %>

<form action='?_csrf=<%=csrfToken%>' enctype="multipart/form-data" method="post">
   <p>
     Choose .jpeg file to change avatar<br>
     <input type="file" name="avatar" accept="image/jpeg"><br>
     <input class="greenInput" type="submit" value="Submit">
   </p>
</form>

<form action="profile/change_password" method="post" accept-charset="UTF-8">
  <label>Old password:</label><br>
  <input class="passFields" type="password" name="oldPassword"><br>
  <label>New password:</label><br>
  <input class="passFields" type="password" name="newPassword"><br>
  <label>Confirm new password:</label><br>
  <input class="passFields" type="password" name="newConfirmPassword"><br>
  <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
  <input class="greenInput" type="submit" value="Change password"><br>
</form>

<form action="profile/remove_avatar" method="post">
   <p>
     Click to remove avatar<br>
     <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
     <input class="greenInput" type="submit" value="Remove avatar">
   </p>
</form>

<!-- if user.network 'underfined' print Join else print Edit -->
<form action="profile/join_network" method="get">
   <p>
     Click to join network<br>
     <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
     <input class="greenInput" type="submit" value="Join network">
   </p>
</form>
