<h1>Network</h1>
Street: <%= network.street %><br>
ID: <%= network._id %><br>
<form method="post" accept-charset="UTF-8">
  <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
  <input type="hidden" name="id" value="<%=network._id%>">
  <input class="signupBtn" type="submit" name="search" value="delete">
</form>
admins: <%= network.admins %><br>
password: <%= network.password %><br><br>
<% for (let j = network.requests.length-1; j >= 0; j--) {  %>
  ID: <%= network.requests[j]._id %><br>
  Title: <%= network.requests[j].title %><br>
  Text: <%= network.requests[j].text %><br>
  Category: <%= network.requests[j].category %><br>
  <form method="post" accept-charset="UTF-8">
    <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
    <input type="hidden" name="id" value="<%=network.requests[j]._id%>">
    <input class="signupBtn" type="submit" name="search" value="delete">
  </form>
  <br><br>
<%}%>
