<% for (let i = requests.length-1; i >= 0; i--) {  %>
  ID: <%= requests[i]._id %><br>
  Title: <%= requests[i].title %><br>
  Text: <%= requests[i].text %><br>
  Category: <%= requests[i].category %><br>
  Author: <%= requests[i].author %><br>
  <form method="post" accept-charset="UTF-8">
    <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
    <input type="hidden" name="id" value="<%=requests[i]._id%>">
    <input class="signupBtn" type="submit" name="search" value="delete">
  </form>
  <br><br>
<%}%>

<% for (let i = categories.length-1; i >= 0; i--) {  %>
  ID: <%= categories[i]._id %><br>
  Name: <%= categories[i].name %>
  <br><br>
<%}%>
