<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Заява про вчинення адміністративного правопорушення</title>
 </head>
 <body>
   <p id='up'> <%= companyName %><br>
   <%= user.lastname %> <%= user.firstname %> <%= user.patronymic %><br>
   <%= network.city %>, <%= network.street %>, <%= network.housenumber %><br>
   <%= user.email %><br><br><br>

                                     Заява<br>
                 про вчинення адміністративного правопорушення<br>
   за статтею 7.22 КоАП "Порушення правил утримання та ремонту житлових будинків"<br>
   За адресою <%= network.street %> <%= network.housenumber %> керуюча організація<br>
   порушує норми Житлового кодексу України та "Правила надання комунальних послуг",<br>
   а саме: </p>
   <input type="text" name='place' id='place' placeholder='де?'>: <input type="text" name='subject' id='subject' placeholder='що?'><br>
   <input type="text" name='description' id='description' placeholder='короткий опис проблеми'><br><br>

   <p id='down'>Згідно з Санітарно-епідеміологічними вимогами до умов проживання в житлових<br>
   будівлях і приміщеннях (Державні санітарні норми 2.1.2.2645-10) системи<br>
   опалення та вентиляції повинні забезпечувати допустимі умови мікроклімату<br>
   і повітряного середовища приміщень. </p>

   <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="enumFunc()">Search</button>

   <form id='myForm' method="post" accept-charset="UTF-8" action='/profile/create_request'>
     <div id="regInsideContent">
       <div class="regField">
         <input required type="hidden" value="Заява про вчинення адміністративного правопорушення" name="title">
       </div>
       <div class="regField">
         <input id='textValue' required type="hidden" value='' name="text">
       </div>
       <div class="regField">
         <input required type="hidden" value='<%= category.name %>' name="category">
       </div>
     </div>
     <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
   </form>

   <script>
   function enumFunc(){
      document.getElementById('textValue').value = document.getElementById('up').innerHTML + document.getElementById('place').value + ': ' +
      document.getElementById('subject').value + '<br>' + document.getElementById('description').value  + '<br><br>' + document.getElementById('down').innerHTML;
      //alert(document.getElementById('textValue').value);
      document.getElementById("myForm").submit();
   }
   </script>
 </body>
 </html>
