<!DOCTYPE HTML>
<html>
 <head>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/confirm.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <script type="text/javascript" src="/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/scripts/cookies.js"></script>
  <script>
  window.onload = function() {
    var a = getSize();
    if (a != 0 && a != null){
      document.getElementById("basketSize").innerHTML = a;
      document.getElementById("circle").style.visibility = "visible"
    }
    removeDeleteConstant();
  }
  </script>
  <title>vApteka</title>
 </head>
 <body>
<div class="home">
  <div id="pharmacyName">
    <a href="/"><img class="baseImg" alt="pharmacyName" src="/pics/pharmacyName.jpg" width="1616px" lenght="150px"></a>
  </div>
  <div id="basket">
    <a href="/basket">
      <div id="basketBackground"></div>
      <div id="basketName">
        <label>Basket</label>
        <div id="circle">
          <div id="basketSize"></div>
        </div>
      </div>
    </a>
  </div>
  <div id="logInField">
    <% if(null == user) {%>
      <div id="logregField">
        <a href="/users/login" id="loginLink"><div>Log in</div></a>
        <a href="/users/register" id="loginLink"><div>Register</div></a>
      </div>
    <%}else {%>
      <div id="profileField">
        <a href="/users/profile"><label><%= user.firstname %> <%= user.lastname %></label></a>
        <div id="avatarImg"><a href="/users/profile"><img alt='profileImg' src="data:image/jpg;base64, <%= user.avatar %>" width="66px" lenght="66px"></a></div>
        <a href="/users/logout" id="loginLink"><div id="logoutF">Log out</div></a>
      </div>
    <%} %>
  </div>
</div>
</div>
<div class="confirmContent">
  <div id="confirmContentSub">
    <div id="bottomConfirmInsideContent">
      <form id="confirmForm" method="post">
      <div id="addresssphone">
        <div class="confirmField">
          <label><b>Phone number:</b><br>(for example, '+380995451992')</label>
          <input id="reqForm1" type="text" name="phonenumber" required size="30">
        </div>
        <div class="confirmField">
          <label><b>Address:</b><br>(for example, 'Ukraine, Kyiv, Rosha 666b, bush №12')</label>
          <input id="reqForm2" type="text" name="address" required size="40">
        </div>
      </div>
      <br>
      <div class="confirmOrder">
        <% for (let i = 0; i < arr.length; i++){%>
          <div id="confirmOrderInfo">
            <label id="firstConfirmLabel">
              <b><%= arr[i].name %></b>,
              volume/mass: <%= arr[i].volumemass %> <%= arr[i].unit %>,
              <%= arr[i].type %>
            </label>
            <label id="secondConfirmLabel">
              Amount: <b><%= arr[i].amount %></b>,
              Price for 1: <%= arr[i].price %> <%= bills %>
            </label>
          </div>
          <br>
        <%}%>
      </div>
      <br>
      <div>
        <label>Contol sum:  <%= price %> <%= bills %></label>
      </div>
      <br>
      <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
      <div class="confirmField">
        <input id="submitButt" class="confirmBtn" type="submit" value="Confirm" onclick="setDeleteConstant();">
      </div>
    </form>
    </div>

    <% if(typeof errors != 'undefined'){ %>
    <% errors.forEach(function(elements){ %>
    <div class="alert alert-danger"><%= elements.msg %></div>
    <%}); %>
    <%} %>
    <% if(error_msg != '') {%>
    <div class="alert alert-danger"><%=error_msg%></div>
    <%} %>
  </div>
</div>
<div id="bottomOfSite">
  <p id="rights">(c) 2016 Vapteka, all rights reserved</p>
</div>
</body>
</html>
