<!DOCTYPE HTML>
<html>
 <head>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <script type="text/javascript" src="/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/jquery/jquery.cycle.all.js"></script>
  <script type="text/javascript" src="/scripts/ajax_search.js"></script>
  <script type="text/javascript" src="/scripts/index.js"></script>
  <script type="text/javascript" src="/scripts/cookies.js"></script>
  <script type="text/javascript" src="/scripts/onload.js"></script>
  <title>vApteka</title>
 </head>
 <body>
<div class="home">
  <div id="pharmacyName">
    <a href="/"><img class="baseImg" alt="pharmacyName" src="/pics/pharmacyName.jpg" width="1616px" lenght="150px"></a>
  </div>
  <div id="basket">
    <a href="/basket">
      <div id="basketBackground"></div>
      <div id="basketName">
        <label>Basket</label>
        <div id="circle">
          <div id="basketSize"></div>
        </div>
      </div>
    </a>
  </div>
  <div id="logInField">
    <% if(null == user) {%>
      <div id="logregField">
        <a href="/users/login" id="loginLink"><div>Log in</div></a>
        <a href="/users/register" id="loginLink"><div>Register</div></a>
      </div>
    <%}else {%>
      <div id="profileField">
        <a href="/users/profile"><label><%= user.firstname %> <%= user.lastname %></label></a>
        <div id="avatarImg"><a href="/users/profile"><img alt='profileImg' src="/pics/avatars/<%= user.avatar %>" width="66px" lenght="66px"></a></div>
        <a href="/users/logout" id="loginLink"><div id="logoutF">Log out</div></a>
      </div>
    <%} %>
  </div>
  </form>
</div>
</div>
<div class="content">
  <div id="advertisement">
    <img alt="advertisement" src="/pics/advSigi.jpg" width="100%" height="100%">
    <img alt="advertisement" src="/pics/advPsy.jpg" width="100%" height="100%">
    <img alt="advertisement" src="/pics/advFanto.jpg" width="100%" height="100%">
  </div>
  <div class="toolbar">
    <div id="search">
      <div class="search_area">
        <form class="search">
          <input type="search" name="q" placeholder="i want to search..." class="input" id="search_box" autocomplete="off">
          <input type="submit" value="" class="submit" id="searchSubButt">
        </form>
        <div id="search_advice_wrapper"></div>
      </div>
    </div>
    <div id="drugs">
      <div id="drugsId">
        <a href="/drugs" id="drugsLink"><div>Drugs</div></a>
      </div>
    </div>
    <div id="contacts">
      <div id="contactsId">
        <a href="about">Contacts</a>
      </div>
    </div>
  </div>
  <!--
  <div id='categories'>
    <div id="categoriesField">
      <form>
        <button class="categoriesButtons">Category</button>
        <button class="categoriesButtons">Category</button>
        <button class="categoriesButtons">Category</button>
        <button class="categoriesButtons">Category</button>
      </form>
    </div>
  </div>
  -->
  <div id="products">
    <% for (let i = 0; i < arr.length; i++) {  %>
      <div class="product">
        <a href="<%= arr[i].link %>" class="productLink">
          <img class="imgLink" alt="<%= arr[i].name %>" src="<%= arr[i].image %>">
          <br><label id="productName"><%= arr[i].name %></label>
          <br><label class="productInfo">type: <%= arr[i].volumemass %> <%= arr[i].unit %>, <%= arr[i].type %></label>
          <br><label>price: <%= arr[i].price %> UAH</label>
        </a>
      </div>
    <%}%>
    <p><a href="/drugs">See more...</a></p>
  </div>
</div>
<div id="bottomOfSite">
  <p id="rights">(c) 2016 Vapteka, all rights reserved</p>
</div>
</body>
</html>
