<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/newdrug.css">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <script type="text/javascript" src="/scripts/cookies.js"></script>
  <script type="text/javascript" src="/scripts/onload.js"></script>
  <title>vApteka</title>
</head>
<body>
  <div class="home">
    <div id="pharmacyName">
      <a href="/"><img class="baseImg" alt='pharmacyName' src="/pics/pharmacyName.jpg" width="1616px" lenght="150px"></a>
    </div>
    <div id="basket">
      <a href="/basket">
        <div id="basketBackground"></div>
        <div id="basketName">
          <label>Basket</label>
          <div id="circle">
            <div id="basketSize"></div>
          </div>
        </div>
      </a>
    </div>
    <div id="logInField">
      <div id="profileField">
        <a href="/users/profile"><label><%= user.firstname %> <%= user.lastname %></label></a>
        <div id="avatarImg"><a href="/users/profile"><img alt='profileImg' src="/pics/avatars/<%= user.avatar %>" width="66px" lenght="66px"></a></div>
        <a href="/users/logout" id="loginLink"><div id="logoutF">Log out</div></a>
      </div>
    </div>
  </div>
  <div class="regContent">
    <form action="/admins/newdrug?_csrf=<%=csrfToken%>" enctype="multipart/form-data" method="post">
      <div id="newDrugInsideContent1">
        <div class="regField">
          <label>Name:</label>
          <input type="text" name="name">
        </div>
        <div class="regField">
          <label>Company:</label>
          <input type="text" name="company">
        </div>
        <div class="regField">
          <label>Volume or mass:</label>
          <input type="text" name="volumemass">
        </div>
        <div class="regField">
          <label>Unit:</label>
          <input type="text" name="unit">
        </div>
        <div class="regField">
          <label>Type:</label>
          <input type="text" name="type">
        </div>
        <div class="regField">
          <label>Price:</label>
          <input type="text" name="price">
        </div>
      </div>
      <div id="newDrugComments1">
        <label>Name: name of drug. For example "Memoria"</label>
        <br>
        <label>Company. For example "Bitner"</label>
        <br>
        <label>Volume or mass. For example "45"</label>
        <br>
        <label>Unit. For example "ml or mg"</label>
        <br>
        <label>Type. For example "pills" or "syrop"</label>
        <br>
        <label>Price in UAH. For example "300"</label>
      </div>
      <div id="newDrugInsideContent2">
        <div class="regField">
          <label>Symptoms:</label>
          <textarea name="symptoms" rows="7" cols="60"></textarea>
        </div>
        <div class="regField">
          <label>Side effects:</label>
          <textarea name="side_effects" rows="7" cols="60"></textarea>
        </div>
        <div class="regField">
          <label>Contraindications:</label>
          <textarea name="contraindications" rows="7" cols="60"></textarea>
        </div>
        <div class="regField">
          <label>Overdose:</label>
          <textarea name="overdose" rows="7" cols="60"></textarea>
        </div>
        <div class="regField">
          <label>Storage conditions:</label>
          <textarea name="storage_conditions" rows="7" cols="60"></textarea>
        </div>
        <div class="regField">
          <label>Mode of application:</label>
          <textarea name="mode_of_application" rows="7" cols="60"></textarea>
        </div>
        <div class="regField">
          <label>Properties:</label>
          <textarea name="properties" rows="7" cols="60"></textarea>
        </div>
        <div class="regField">
          <label>Choose .jpeg image:</label>
          <input type="file" name="image" accept="image/jpeg">
        </div>
        <div class="regField">
          <input id="submitButt" type="submit" value="Add new drug">
        </div>
      </div>
    </form>
  <div id="newDrugComments2">
    <% if(typeof errors != 'undefined'){ %>
    <% errors.forEach(function(elements){ %>
    <div class="alert alert-danger"><%= elements.msg %></div>
    <%}); %>
    <%} %>

    <% if(error_msg != '') {%>
    <div class="alert alert-danger"><%= error_msg %></div>
    <%} %>
    <% if(success_msg != '') {%>
    <div class="alert alert-success"><%= success_msg %></div>
    <%} %>
  </div>
</div>
<div id="bottomOfSite">
  <p id="rights">(c) 2016 Vapteka, all rights reserved</p>
</div>
</body>
</html>
