<!DOCTYPE HTML>
<html>
 <head>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/search.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <title>vApteka</title>
 </head>
 <body>
<div class="home">
  <div id="pharmacyName">
    <a href="/"><img class="baseImg" alt="pharmacyName" src="/pics/pharmacyName.jpg" width="1616px" lenght="150px"></a>
  </div>
  <div id="logInField">
    <% if(null == user) {%>
      <div id="logregField">
        <a href="/users/login" id="loginLink"><div>Log in</div></a>
        <a href="/users/register" id="loginLink"><div>Register</div></a>
      </div>
    <%}else {%>
      <div id="profileField">
        <a href="/users/profile"><label><%= user.firstname %> <%= user.lastname %></label></a>
        <div id="avatarImg"><a href="/users/profile"><img alt='profileImg' src="/pics/avatars/<%= user.avatar %>" width="66px" lenght="66px"></a></div>
        <a href="/users/logout" id="loginLink"><div id="logoutF">Log out</div></a>
      </div>
    <%} %>
  </div>
  </form>
</div>
</div>
<div class="content">
  <div id="backIndex">
    <a href="/"><p><-- Go Back</p></a>
  </div>
  <div id="products">
    <% for (let i = 0; i < arr.length; i++) {  %>
      <div class="product">
        <a href="<%= arr[i].link %>" class="productLink">
          <img class="imgLink" alt="<%= arr[i].name %>" src="<%= arr[i].image %>">
          <br><label id="productName"><%= arr[i].name %></label>
          <br><label class="productInfo">type: <%= arr[i].volume %> <%= arr[i].type %></label>
          <br><label>price: <%= arr[i].price %></label>
        </a>
      </div>
    <%}%>
  </div>
</div>
<div id="bottomOfSite">
  <p id="rights">(c) 2016 Vapteka, all rights reserved</p>
</div>
</body>
</html>
